<%= render 'shared/error_messages', object: f.object %>

<p>
  Emailアドレスは適当でOKです。（存在しないアドレスでもOK）</br>
  【※※※@※※※.com】形式で入力して下さい
</p>

<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :email %>
<%= f.text_field :email %>

<%= f.label :password %>
<%= f.password_field :password %>

<%= f.label :password_confirmation, "Confirm Password" %>
<%= f.password_field :password_confirmation %>
